<%
var fun = function() {
  return "woo"
}
%>
<% title = 'Hello!' %>
<% include templates/header %>

<h1>Welcome!</h1>

<p>This is the home page. Here's <a href="/foo">foo</a> and <a href="/foo/bar">bar</a></p>

<p>Also <a href="/baz">baz</a> and <a href="woo">woo</a>.</p>

<p>The time is <%= new Date() %>.</p>

<p>Is this <%= fun() %>?</p>

<% include templates/footer %>